.App {
  max-width: 600px;
}

.danger {
  background-color: red !important;
}

.section {
  padding: 1rem;
  background-color: #ceced6;
  border: 1px solid #242429;
}

.header {
  font-size: larger;
  padding: .5rem 0;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

#totals .person {
  display: grid;
  grid-template-columns: 25% 22% 29% 22%;
}

.people .person:nth-child(odd){
  background-color: #4C8BF5;
  color: #fff;
}

.people .person:nth-child(even){
  background-color: #fff;
}

#totals .person:nth-child(odd){
  background-color: #4C8BF5;
  color: #fff;
}

#totals .person:nth-child(even){
  background-color: #fff;
}

.people {
  margin-bottom: .3rem;
}

button {
  padding: .4rem 1.25rem;
  margin-left: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  margin: .3rem 0;
  padding: .4rem;
}

select {
  margin: .3rem 0;
  padding: .4rem 2rem .4rem .4rem;
  border: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("arrowdown.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.selectOpenButton {
  margin: .5rem 0 0 0;
}

.items {
  padding: .3rem 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  background-color: white;
  border: 1px solid black;
  margin: .2rem 0;
}

.item-actions {
  display: flex;
}

.newform {
  background-color: white;
  padding: .5rem;
  border-radius: 4px;
}

.editform {
  background-color: #e6e6fc;
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid #333396;
}

.clearAll {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.clearAllButton {
  color: white;
  font-size: large;
  background-color: red;
}

.eaters {
  margin: .5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.checkpair {
  min-width: 5rem;
  margin-right: 1rem;
  display: flex;
}

.checklabel {
  margin-right: .3rem;
}

.itemNamePrice {
  display: flex;
  margin-bottom: .3rem;
}

.itemName {
  margin-right: 1rem;
}

.tipinput {
  display: flex;
  align-items: center;
}

.tip {
  margin-right: .3rem;
}

#totals {
  margin-bottom: .5rem;
}

.tipNumber {
  width: 2rem;
}

.thenumber {
  border: 1px solid purple;
  padding: .3rem;
  box-sizing: border-box;
}

.taxArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.everyone {
  background-color: #c9daff;
  padding: 0 .3rem;
}